html{
    color: rgba(0  , 0, 255, 200);
    background-color:aqua;
    background-image: url("xereca.jpg");
    height: 100%;
    background-position: top  ;
    background-repeat: repeat;
}
h1,h2,h3 {
    text-align : center;
}
main{
    background-color: #fff;
    color:gray;
    
    font-family: serif, cursive;
    font-style: italic;
    font-weight: bold;
    
    font-size: 1.5rem;
}
main p:hover {
    text-indent: 2rem;
    text-align: start;
    color: blueviolet;
    
}
h2#titulo-primeira-aula{
    text-decoration: underline;
}
.titulo-aula{
    background-color: red;
    letter-spacing: 0.5rem;
}
.primeiro-titulo{
    color: black;
}
@font-face {
    font-family:pricedown;
    src: url("pricedown.ttf");
}
a:active{
    color: red;
}